---
permalink: "/{{ page.fileSlug }}/index.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Redirecting...</title>
  <meta http-equiv="refresh" content="0; url={{ url }}">
  <link rel="stylesheet" type="text/css" href="/assets/css/simple.min.css">
</head>
<body>
  <main>
    <h1>Redirecting…</h1>
    <p>If you are not redirected, <a href="{{ url }}">click here</a>.</p>
  </main>
</body>
</html>
