---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
use_plugin_seo: false
---

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com

/* THANKS */
  Username: Creativas.dev
  Website: https://creativas.dev

  Eleventy Creator: Zachleat
  Twitter: @zachleat


/* Credits */

  Static Site Generator: Eleventy
  Website: https://11ty.dev

/* SITE */

  Last update: {{ page.date }}
  Language: English
  Generator: Eleventy
  Theme: ILI