---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: false
use_plugin_seo: false
---

# Allow crawling of all content
User-agent: *
Allow: /


Sitemap: {{site.baseUrl}}/sitemap.xml
